<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Default -->
    <link rel="stylesheet" th:href="@{/webjars/mdbootstrap/css/mdb.min.css}" />
    <script th:src="@{/webjars/mdbootstrap/js/jquery.min.js}"></script>
    <script th:src="@{/webjars/mdbootstrap/js/popper.min.js}"></script>
    <script th:src="@{/webjars/mdbootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/mdbootstrap/js/mdb.min.js}"></script>

    <!-- Lottie -->
    <script src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs" type="module"></script> 
  </head>
  <body>
    <div layout:fragment="content"></div>
  </body>
</html>
